@import '../../partials/_global';
* {
    font-family: 'Avenir';
    a {
        text-decoration: none;
    }
}

h1 {
    font-weight:bold;
    font-style: normal; 
}

.upload {
    padding: 24px $mobile-padding 0 $mobile-padding;
    border-top: 1px solid $mercury;
    &__title {
        padding-bottom: 32px;
    }
    &__content {
        @include  desktop {
            display: flex;
        }
    }
}

.upload-form {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    @include tablet {
        font-size: 16px;
    }
    @include desktop {
        width: 100%;
        margin-left: 24px;
    }
    &__title {
        @include silver-sub;
        margin-bottom: 5px;
        &-input {
            padding:10px;
            margin-bottom: 24px;
            border: 1px solid $mercury;   
            &:focus {
                outline: none;
                border: 1px solid $brainflix-blue; 
            }
        }
    }
    &__description {
        @include silver-sub;
        margin-bottom: 5px;
        &-input {
            border: 1px solid $mercury;
            padding: 10px;
            height: 143px;
            margin-bottom: 32px;
            resize: none;
            @include tablet {
                margin-bottom: 40px;
                border-bottom: 1px solid $mercury;
            }
            &:focus {
                outline: none;
                border: 1px solid $brainflix-blue; 
            }
        }
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row-reverse;
            border-top: 1px solid $mercury;
            padding-top: 40px;
        }
        &-publish {
            background-color: $brainflix-blue;
            color: $white; 
            border: none;
            border-radius: 4px;
            padding: 15px;
            margin-bottom: 24px;
            font-weight: 600;
            font-style: normal;
            @include tablet {
                width: 160px;
            }
        }
        &-cancel {
            color: $brainflix-blue;
            background-color: transparent;
            border: none;
            margin-bottom: 24px;
            font-weight: 600;
            font-style: normal;
            @include tablet {
                width: fit-content;
                margin-right: 48px;
            }
        }

    }
}

.thumnail {
    padding-bottom: 32px;
    @include tablet {
        padding-bottom: 40px;
    }
    &__title {
        @include silver-sub;
        padding-bottom: 5px;
        @include tablet {
            font-size: 16px;
        }
    }
    &__video {
        width: 100%;
        height: 46vw;
        border-radius: 4px;
        @include tablet {
            width: 344px;
            height: 183px;
        }
    }
}