@import '../../partials/_global';

.main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    &__content {
        @include desktop {
            display: flex;
            padding: 0 $desktop-padding;
            box-sizing: border-box;
        }
        &-texts {
            display: flex;
            flex-direction: column;
            @include desktop {
                min-width: 588px;
                width: 90%;
                border-right: 1px solid $silver;
                margin-right: 24px;
                margin-top: 40px;
            }
        }
    }
}


