@import '../../partials/_global.scss';

* {
    font-family: 'Avenir';
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}

@include tablet {
    h1 {
        font-size: 36px;
    }
}
