$mobile-padding: 5%;
$tablet-padding: 3%;
$desktop-padding: 12.5%;

$mercury: #E1E1E1;
$black: #323232;
$alabaster:#FAFAFA;
$silver: #AFAFAF;
$white: #FFFFFF;
$brainflix-blue: #0095FF;
$instock-blue: #004892;