@import '../../partials/_global';

.comments {
    padding: 0 $mobile-padding 0 $mobile-padding;
    &__title {
        text-align: start;
        font-weight: 500w;
        font-style: normal;
        font-size: 16px;
    }
}



