@import '../../partials/_global';

.comments {
    margin: 0 $mobile-padding 0 $mobile-padding;
    @include tablet {
        margin: 0 $tablet-padding 0 $tablet-padding;
    }
    @include desktop {
        margin: 0;
        margin-right: 24px;
    }
    &__title {
        text-align: start;
        font-weight: 500w;
        font-style: normal;
        font-size: 16px;
    }
}



