@import '../../partials/_global';

.videos {
    display: flex;
    flex-direction: column;
    padding: 40px $mobile-padding 0 $mobile-padding;
    @include tablet {
        padding: 40px $tablet-padding 0 $tablet-padding;
    }
    @include desktop {
        padding: 0;
        margin-top: 40px;
    }
    &__title {
        text-align: start;
        // @include silver-sub;
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        color: $silver;
        padding-bottom: 40px;
    }
}

.video__link {
    text-decoration: none;
    color: $black;
}

.video__item {
    display: flex;
    background-color: $white;
    padding-bottom: 24px;
    // border: 1px solid black;
    &-img {
        width: 120px;
        height: 70px;
        border-radius: 4px;
        @include desktop {
           min-width: 120px;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        @include tablet {
            width: 26%;
            justify-content: space-between;
        }
        @include desktop {
            width: 100%;
        }
        &-title {
            font-size: 13px;
            font-weight: 500;
            font-style: normal;  
            text-align: start;
            padding-bottom: 6%;
            margin:0;
            width: 150px;
            @include tablet {
                font-size: 15px;
            }
            @include desktop {
                width: 100%;
                font-size: 14px;
            }
        }
        &-author {
            margin: 0;
            font-size: 13px;
            font-weight: 400;
            font-style: normal; 
            text-align: start;
            @include tablet {
                font-size: 14px;
                padding-bottom: 5px;
            }
        }
    }
}