@import '../../partials/_global';

* {
    font-family: 'Avenir';
    font-weight: normal;
    font-style: normal;
}



.logo {
    padding: 10px 0px;
    width: 136px;
}

.header {
    padding: 0px $mobile-padding;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__search {
        width: 100%;
        height: 40px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid $mercury;
        border-radius: 5px;
        font-size: 14px;
    }
}